.main-table {
    width: 1192px;
    border-collapse: collapse;
    height: 732px;
    margin: 0 auto;
    border-width: 24px 22px;
    border-style: solid;
    border-color: #414b64;
}
.th-table {
    width: 310px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    vertical-align: middle;
    background-color: #e3e3e3;
}
.th-table p {
    font-weight: 600;
    color: #484848;
}
.our-choose {
    font-size: 18px;
}
.our-plan {
    font-size: 30px;
    padding-bottom: 20px;
    line-height: 35px;
}
.top-part {
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #333;
    text-align: center;
    font-size: 24px;
    padding: 25px 0;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
}
.bg-green {
    background-color: #89c331;
}
.bg-red {
    background-color: #f04a56;
}
.bg-blue {
    background-color: #20807c;
}
.price-part {
    font-size: 60px;
    font-weight: 700;
}
.penny {
    vertical-align: super;
    font-size: 24px;
}
.price-part::after {
    content: "per month";
    font-size: 18px;
    position: relative;
    left: -18px;
    font-weight: 400;
}
.fas, .far {
    font-size: 24px;
    padding-right: 10px;
    color: #848484;
}
.block-part {
    border: 1px solid #333;
    width: 310px;
    padding: 25px 0;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: #484848;
}
.block-part, .block-table, .th-table, .top-part {
    border: none;
    box-shadow: -3px 0 4px -1.5px #c9c9c9
}
.block-table:nth-child(2n+3) {
    background-color: #f2f2f2;
}
.block-table:nth-child(2n+4) {
    background-color: #e3e3e3;
}
.block-table:nth-of-type(2) {
    background-color: #fafafa;
}
.button {
    font-size: 16px;
    font-weight: 600;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    padding: 10px 45px;
    text-transform: uppercase;
    color: #fff;
    border-bottom: 9px solid rgba(0, 0, 0, 0.3);
    outline: none;
}
.colored-btn {
    background-color: #dddddd;
}
.contact-btn {
    background-color: #484848;
}
.first-btn {
    background-color: #89c331;
}
.second-btn {
    background-color: #f04a56;
}
.last-btn {
    background-color: #20807c;
}