.banner-container{
    margin: 125px auto;
    line-height: 1.5;
    max-width: 700px;
}
.banner-section{
    background-image: url("../../../shared/components/Banner/images/MovieCollage@1X.png");
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    background-size: cover;
    height: 400px;
    position: relative;
    margin: 40px 0;
}
.banner-bgc-black{
    /*background-image: url("../../../shared/components/Banner/images/Footer bg copy 2@1X.png");*/
    /*background-color: rgba(0,0,0,0.2);*/
    /*position: absolute;*/
    /*width: 100%;*/
    /*height: 400px;*/
}
.banner-text{
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #ffffff;
}
.banner-button{
    text-align: center;
}
