   html, body {
       margin: 0;
       padding: 0;
   }
   .header-title{
       margin-top: 32px;
       margin-bottom: 35px;
       display: inline-block;
   }
   .bg-image {
       background-color: #f5f6f7;
   }
   .header-image {
       width: 100%;
       /*height: 780px;*/
       background-size: cover;
   }
   .title1 {
       margin-left: 332px;
       text-decoration: none;
       color: #16a085;
       font-family: Arial, sans-serif;
       text-transform: uppercase;
       font-size: 18px;
       display: inline;
       font-weight: 600;

   }
   .title2 {
       margin-left: 65px;
       text-decoration: none;
       color: #16a085;
       font-family: Arial, sans-serif;
       text-transform: uppercase;
       font-size: 18px;
       display: inline;
       font-weight: 600;
   }
   .title3 {
       margin-left: 70px;
       text-decoration: none;
       color: #16a085;
       font-family: Arial, sans-serif;
       text-transform: uppercase;
       font-size: 18px;
       display: inline;
       font-weight: 600;
   }
   .title4 {
       margin-right: 371px;
       margin-left: 78px;
       text-decoration: none;
       color: #16a085;
       font-family: Arial, sans-serif;
       text-transform: uppercase;
       font-size: 18px;
       display: inline;
       font-weight: 600;

   }
   .container{
       background-color: #f5f6f7;
   }
   .content-title {
       font-family: Arial, sans-serif;
       text-transform: uppercase;
       font-size: 17px;
       padding-top: 56px;
       padding-bottom: 34px;
       margin-top: 0;
       margin-bottom: 0;
       text-align: center;
   }
   .content-text-p1 {
       font-family: Arial, sans-serif;
       font-size: 16px;
       text-align: center;
       box-sizing: border-box;
       margin-left: 113px;
       margin-right: 108px;
       font-weight: 500;
       margin-top: 0;
   }
       .content-text-p2 {
           font-family: Arial, sans-serif;
           font-size: 16px;
           text-align: center;
           box-sizing: border-box;
           margin-left: 113px;
           margin-right: 108px;
           font-weight: 500;
           margin-bottom: 0;
   }
       .button {
           text-align: center;
           background-color: #f5f6f7;
       }
   .button-text {
       color: white;
       background: #16a085;
       padding: 23px 45px 18px 43px;
       margin-top: 23px;
       margin-bottom: 94px;
       text-align: center;
       width: 194px;
       font-family: Arial, sans-serif;
       font-size: 12px;
       text-transform: uppercase;
       font-weight: 700;
   }
   .footer {
       text-align: right;
   }
   .footer-text {
       margin-top: 48px;
       margin-right: 108px;
       margin-bottom: 45px;
       font-size: 16px;
       font-family: Arial, sans-serif;
       font-weight: 700;
       display: inline-block;
       text-align: end;
   }
