body{
    font-family: Montserrat, sans-serif;
}
.container {
    width: 1160px;
    margin: 0 auto;
    text-align: center;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.green-color {
    color: #18cfab;
    font-weight: 700;
}
.header{
    background: url("../img/Sections-background/section-1-header.jpg") no-repeat fixed;
    background-size: cover;
    height: 1012px;
}

/*NAVBAR*/


.navbar {
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 120px;
}
.navbar-logo {
    display: flex;
    align-items: center;
    color: #ffffff;
}
.logo{
    position: relative;
    background-color: #18cfab;
    width: 60px;
    height: 35px;
    line-height: 0.9;
    font-size: 40px;
    font-weight: 700;
    margin-right: 10px;
}
.logo::before{
    content: "";
    position: absolute;
    border: 30px solid transparent;
    border-bottom: 15px solid #18cfab;
    bottom: 35px;
    left: 0;
}
.logo::after{
    content: "";
    position: absolute;
    border: 30px solid transparent;
    border-top: 15px solid #18cfab;
    top: 35px;
    left: 0;
}
.navbar-nav {
    display: flex;
    align-items: center;
}
.nav-link{
    padding: 55px 0;
    margin-right: 17px;
    text-decoration: none;
    color: #b8b8b8;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    border-bottom: 2px solid rgba(0 ,0 ,0 ,0 ) ;
    transition: 0.5s;
}
.nav-link:hover{
    border-bottom:2px solid #18cfab;
    color: #18cfab;
    transition: 0.5s;
}
.navbar-nav .fas {
    color: #b8b8b8;
    transition: 0.5s;
}
.navbar-nav .fas:hover{
    color: #18cfab;
    transition: 0.5s;
}
.wordpress-title{
    margin-top: 248px;
    font-size: 35px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
}
.wordpress-subtitle{
    margin-top: 45px;
    font-size: 70px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
}
.wordpress-text{
    margin-top: 36px;
    font-size: 39px;
    color: #bfbfbf;
}
.buttons{
    display: flex;
    justify-content: center;
    margin-top: 142px;
    margin-bottom: 248px;
}
.btn{
    border: none;
    border-top: 4px solid white;
    border-radius: 5px;
    padding: 30px 25px 22px 25px;
    text-transform: uppercase;
    margin-right: 28px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
}
.green-btn{
    background-color: #18cfab;
}
.blue-btn{
    background-color: #00cbf6;
}
.icons{
    display: flex;
}
.icon-block{
    display: flex;
    justify-content: center;

    align-items: center;
    width: 25%;
    height: 374px;
    border-top: 5px solid #18cfab;
    background-color: #1c2a33;
    color: #18cfab;
}
.icon-block:nth-child(even){
    border-top: 5px solid #ffffff;
    background-color: #18cfab;
    color: #ffffff;
}
.icon-info{
    display: flex;
    flex-direction: column;
    min-height: 159px;
    justify-content: space-between;
    align-items: center;
}
.icon-text{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
}

.section-title{
    text-transform: capitalize;
    font-size:36px;
    margin-top: 82px;
    margin-bottom: 50px;
}
.section-title::after{
    display: block;
    content: '';
    width: 90px;
    height: 1px;
    background-color: #18cfab;
    margin: 45px auto;
    box-shadow: 5px 5px  #18cfab;
}
.our-services-text{
    margin-left: 20px;
    width: 580px;
}


/*TABS*/


.tabs{
    display: flex;
    justify-content: center;
}
.tabs-caption{
    display: flex;
    margin-bottom: 24px;

}
.tab-item.active{
    background-color: #18cfab;
    color: #ffffff;
    border: none;
}
.tab-item.active::after{
    content: "";
    position: absolute;
    border: 15px solid transparent;
    border-top: 10px solid #18cfab;
    top: 72px;
    left: 50%;
    margin-left: -15px;
}
.tab-item {
    position: relative;
    margin-top: 28px;
    padding: 28px 0;
    background-color: #f8fcfe;
    color:#7a7a7a;
    border: 1px solid lightgray;
    cursor: pointer;
    width: 193px;
}
.tabs-content{
    display: none;
    margin: 0 auto;
}
.tabs-content.active{
    display: flex;
    text-align: left;
}
.content-text{
    margin-left: 20px;
    /*width: 850px;*/
}

/*READY*/


.ready-section{
    margin-top: 100px;
    background:  linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("../img/Sections-background/section-2.jpg") no-repeat fixed;
    width: 100%;
    background-size: cover;
    height: 476px;
}
.ready-title{
    color: #18cfab;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    padding-top: 128px;
}
.ready-text{
    font-size: 16px;
    color: #b8b8b8;
    margin-top: 35px;
    margin-bottom: 76px;
}

/*OUR AMAZING WORK*/



.our-amazing-work{
    display: flex;
}
.our-work{
    display: flex;
    justify-content: center;
    align-items: center;
}
.work-caption{
    display: flex;
    margin-bottom: 70px;
}
.work-item{
    border: 1px solid #ebebeb;
    padding: 24px 25px;
    list-style-type: none;
    font-size: 20px;
}
.our-work-item .active{
    color: #18cfab;
    border-top: 1px solid #18cfab;
}
.our-work-row{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 96px;
}
.our-work-item{
    width: 286px;
    position: relative;
}
.work-button{
    display: flex;
    justify-content: center;
}
.show-btn{
    background: #18cfab;
    color: #ffffff;
    font-size: 14px;
    padding: 25px 22px;
    border: none;
    margin-right: 20px;
}
.show-btn:nth-child(2){
    display: none;
}
.work-item-block {
    opacity: 0;
    display: flex;
    justify-content: center;
    border-top: 3px solid #18cfab;
    position: absolute;
    background-color: #fff;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.5s;
}
.our-work-item:hover .work-item-block{
    opacity: 1;
    transition: 0.5s;
}
.block-info{
    display: flex;
    flex-direction: column;
}
.block-info-icons{
    margin: 48px 5px 34px 0;
}
.block-info-link{
    padding: 13px;
    border: 1px solid #18cfab;
    border-radius: 50%;
    color: #18cfab;
}
.block-info-link:hover {
    background-color: #18cfab;
    color: #ffffff;
}
.block-info-title{
    color: #18cfab;
    font-size: 23px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 14px;
}
.block-info-text{
    color: #8a8a8a;
    font-size: 20px;
    text-transform: capitalize;
}

/*NEWS*/

.news{
    display: flex;
    flex-wrap: wrap;
}
.news-block{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 263px;
    height: 280px;
    background-color: #f8fcfe;
    margin-right: 28px;
    margin-bottom: 45px;
    border: 1px solid #ececec;
}
.news-block:nth-child(4n){
    margin-right: 0;
}
.data {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 20px;
    background-color: #203e38;
    color: #ffffff;
    line-height: 1.2;
    font-size: 16px;
}
.news-block:hover .data {
    background-color: #18cfab;
    cursor: pointer;
}
.news-title{
    font-size: 18px;
    color: #717171;
    margin: 14px 0 14px 13px;
    text-transform: capitalize;
    font-weight: 700;
}
.news-block:hover .news-title{
    color: #18cfab;
    cursor: pointer;
}
.news-comment{
    font-size: 14px;
    color: #777777;
    margin-left: 17px;
}
.stick{
    border: 1px solid #777777;
    height: 14px;
    margin: 0 17px;
}

/*ABOUT THEHAM*/

.about-theHam{
    background: url("../img/Sections-background/section-3.jpg") no-repeat fixed;
    background-size: cover;
}
.about-theHam .section-title{
    color: #ffffff;
    padding-top: 80px;
}
.about-theHam .fas {
    color: #18cfab;
    font-size: 40px;
    margin-bottom: 44px;
}

.slide-content {
    display: none;
    transition: 0.5s;
}
.slide-content-active{
    display: block;
    transition: 0.5s;
}
.slider-text{
    color: #777777;
    margin-bottom: 43px;
}
.slider-author{
    color: #18cfab;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px;

}
.slider-author-img {
    margin-top: 37px;
    width: 145px;
    height: 145px;
    border-radius: 50%;
    border: 2px solid transparent;
    box-shadow:  0 0 5px #18cfab;
}
.slide-images{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 104px;
}
.authors-list-img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #18cfab;
    box-shadow: 0 0 5px #18cfab;
    margin: 0 20px;
    transition: 0.5s;
}
.slide-btn{
    width: 31px;
    height: 31px;
    border: 1px solid #ffffff;
    margin: 0 35px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide-btn:hover {
    background-color: #18cfab;
}
.authors-list-img-active{
    transform: translateY(-10px);
    transition: 0.5s
}
.arrow {
    width: 5px;
    height: 5px;
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    padding: 2px;
}
.left {
    transform: rotate(130deg);
}
.right{
    transform: rotate(-45deg);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 108px;
    background-color: #22353f;

}
.footer-text{
    color: #ffffff;
    text-transform: capitalize;
    font-size: 14px;
}



