.img-fluid {
    max-width: 100%;
    height: auto;
}

.navbar {
    height: 70px;
    background-color: #1d2124;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    font-family: Montserrat, sans-serif;
}
.logo-left {
    display: flex;
    align-items: center;
}
.logo {
    width: 70px;
    padding: 22px 0;
    background-color: #1a1d20;
}
.logo-img {
    margin: 0 21px;
    display: flex;
}
.logo-title {
    margin: auto 6px;
    text-decoration: none;
    font-size: 22px;
    color: #ffffff;
    font-weight: 700;
}
.navbar-nav {
    display: flex;
    align-items: center;
    font-weight: 700;
}
.nav-link {
    text-decoration: none;
    color: #ffffff;
    margin: 0 18px;
    text-transform: uppercase;
    font-size: 15px;
}

.fas {
    color: #ffffff;
    margin-left: 26px;
    font-size: 17px;
    padding-top: 5px;
}
/*HEADER*/

.header {
    background: url("../img/parallax/header-bg.jpeg") no-repeat bottom fixed;
    height: 375px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Montserrat, sans-serif;
}

.title-header {
    color: #ffffff;
    font-size: 27px;
    margin-bottom: 44px;
}
.btn{
    width: 170px;
    height: 55px;
    color: #ffffff;
    border: none;
    border-radius:4px;
    margin:0 10px;
    font-size:18px;
}
.buttons{
    display:flex;
    justify-content:center;
}
.green-btn {
    background-color:#89ca62;
}
.blue-btn {
    background-color:#14b9d5;
}


/* MOST POPULAR POST */

.most-popular-posts {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Montserrat, sans-serif;
}
.posts-title {
    margin: 50px 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 27px;
    color: #18b4cf;
}
.post-collection {
    margin:0 auto;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    height: 860px;
}
.post{
    text-align: center;
    background-color:#ffffff;
    margin:0 15px 30px;
}
.post-title{
    padding: 20px 0;
    font-size: 18px;
}

/*OUR CLIENTS*/

.our-clients {
    background: url("../img/parallax/clients-bg.jpeg") no-repeat bottom fixed;
    height: 590px;
    background-size: cover;
    display: grid;
    justify-content: center;
    align-content:center;
    color:#ffff;
    font-family: Montserrat, sans-serif;
}
.our-clients-title {
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 700;
}
.line{
    width: 60px;
    height: 3px;
    margin: 55px auto;
    background-color:#169cb4;
}
.our-brands{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}
.top-rated {
    display: grid;
    justify-content: center;
    background-color: #fff;
    font-family: Montserrat, sans-serif;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.hot-news {
    height: 1683px;
    text-align: center;
    font-family: Montserrat, sans-serif;
}
.hot-news-container {
    font-family: Montserrat, sans-serif;
    margin: 0 auto;
    width: 1170px;
    display: grid;
    grid-column-gap: 42px;
    grid-row-gap: 35px;
    grid-template-areas:
            "c_1 c_1 c_1 c_2"
            "c_3 c_3 c_4 c_4"
            "c_5 c_5 c_6 c_6"
            "c_7 c_8 c_8 c_8";
}
.inf-card {
    text-align: right;
    font-size: 14px;
}
.card-title {
    padding: 20px 20px 0 0;
    font-size: 18px;
    font-weight: 700;
}
.card-text {
    padding: 25px;
    line-height: 21px;
}
.hot-news-img {
    width: 100%;
}
.c_1 {
    background-color: #f9f7f7;
    display: grid;
    grid-area: c_1;
    grid-template-columns: 1fr 0.7fr;
}
.c_2 {
    display: grid;
    grid-area: c_2;
    background-color: #f9f7f7;
    text-align: center;
}
.c_2 .card-title, .c_7 .card-title {
    text-align: center;
    padding: 0;
}
.c_3{
    display: grid;
    background-color:#f9f7f7;
    grid-area: c_3;
}
.c_4{
    display: grid;
    background-color:#f9f7f7;
    grid-area: c_4;
    justify-self: right;
}
.c_5{
    display: grid;
    background-color:#f9f7f7;
    grid-area: c_5;
}
.c_6{
    display: grid;
    background-color:#f9f7f7;
    grid-area: c_6;
    justify-self: right;
}
.c_7{
    display: grid;
    background-color:#f9f7f7;
    grid-area: c_7;
}
.c_8{
    background-color:#f9f7f7;
    display: grid;
    grid-template-columns: 1fr 0.6fr;
    grid-area: c_8;
}

/*FOOTER*/

.footer {
    background-color:#1d2124;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-text {
    color: #ffffff;
    font-size: 13px;
    font-family: Montserrat, sans-serif;
}
.lioit-img {
    vertical-align: 8px;
}
