.btn{
    width: 100px;
    padding: 9px 0;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background-color: transparent;
    text-transform: capitalize;
    border: 1px solid transparent;
    border-radius: 5px;
    font-weight: 700;
}
.btn-view-info{
    background-color: #0AAEE4;
    margin-left: 20px;
}
.btn-primary{
    border: 2px solid #fff;
    margin-left: 20px;

}
.btn-secondary{

}