.fas{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: white;
}
.navbar .container{
    padding-top: 28px;
    display: flex;
    justify-content: space-between;

}
.navbar-container {
    margin: 0 0 20px 0;
}
