@media only screen and (max-width: 768px) and (min-width: 375px) {
    .container {
        width: 100%;
        background-color: #141515;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 26px 0 12px;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: -134px;
        left: 50%;
        transform: translateY(100%) translateX(-50%);
        z-index: 1;
    }
    .active {
        display: flex;
        text-align: center;
        width: 85%;
    }

    .nav-item {
        padding: 15px 0;
        border: 1px solid white;
        background-color: black;
        width: 100%;
    }
    .nav-link {
        font-family: Montserrat, sans-serif;
        text-decoration: none;
        color: #ffffff;
        font-size: 20px;
    }

    .content-img img {
        width: 100%;
        height: 490px;
    }

    .content-img {
        position: relative;
    }

    .content-title {
        position: absolute;
        top: 41px;
        left: 31px;
        color: #ffffff;
        text-transform: uppercase;
        padding: 41px 31px;
        background-color: #000000;
        font-size: 25px;
        font-family: Montserrat, sans-serif;
    }

    .content-button {
        position: absolute;
        top: 160px;
        left: 75px;
        padding: 12px 32px;
        background-color: #000000;
        border: none;
    }

    .btn-link {
        color: #ffffff;
        font-size: 16px;
        font-family: Montserrat, sans-serif;
    }

    .square {
        position: absolute;
        bottom: -63px;
        right: 0;
        width: 267px;
        height: 66px;
        background: #ED1260;

    }

    .content-text {
        color: #ffffff;
        margin: 103px 52px 68px 58px;
        font-size: 16px;
        font-family: Montserrat, sans-serif;
    }

    .about-us {
        display: flex;
        flex-wrap: wrap;;
        margin: 0 32px 56px 32px;
        height: 385px;
    }

    .about-us-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
    }

    .about-us-block img {
        height: 50px;
        margin-bottom: 10px;
    }

    .block-text {
        font-family: Montserrat, sans-serif;
        font-size: 14px;
        color: #ffffff;
        text-align: center;
    }

    .img-location {
        max-width: 600px;
        margin: 60px auto;
        border: 5px solid #ED1260;
        padding: 15px 12px;
        box-sizing: border-box;
        text-align: center;
    }

    .address {
        font-family: Montserrat, sans-serif;
        font-size: 12px;
        color: #ffffff;
        margin-top: 12px;
    }

    .address-img {
        overflow: hidden;
    }

    .address-img img {
        width: 100%;
    }

    .contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 5px solid #F38A03;
        box-sizing: border-box;
        padding: 26px 83px 23px 76px;
    }

    .contacts-title {
        font-size: 20px;
        color: #ffffff;
        text-transform: uppercase;
        margin-bottom: 31px;
    }
    .contacts-block {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .contacts-item {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 25px;
        min-width: 220px;
    }
    .contacts-info:last-child {
        margin-bottom: 0;
    }
    .contacts-info {
        margin-left: 20px;
        display: flex;
        flex-direction: column;
    }
    .contacts-info-title {
        display: none;
    }
    .contacts-info-text {
        color: white;
        font-size: 18px;
        font-family: Montserrat, sans-serif;

    }
}
@media (max-width: 614px) {
    .img-location {
        margin: 60px 15px;
    }
}
@media only screen and (min-width: 769px){
    .container {
        width: 1200px;
        margin: 0 auto;
        background-color: #141515;
        padding: 0 82px 0 56px;
    }

    .navbar {
        padding: 28px 0 44px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav-list {
        display: flex;
    }
    .nav-menu {
        display: none;
    }

    .nav-item {
        margin-left: 90px;
    }

    .nav-link {
        color: #ffffff;
        font-size: 20px;
        font-family: Montserrat, sans-serif;
        text-decoration: none;
    }

    /*...*/
    .main-content {
        width: 957px;
        margin: 0 auto;
    }

    .content-img {
        position: relative;
        margin-bottom: 37px;
    }

    .square {
        position: absolute;
        width: 107px;
        height: 347px;
        background: #ED1260;
        top: 0;
        right: -100px;
    }

    .content-title {
        position: absolute;
        background-color: #000000;
        color: #ffffff;
        font-family: Montserrat, sans-serif;
        font-size: 32px;
        text-transform: uppercase;
        padding: 52px 46px;
        top: 80px;
        left: 44px;
    }

    .content-button {
        position: absolute;
        top: 240px;
        left: 115px;
        border: none;
        background: #000000;
        padding: 14px 55px;
    }

    .btn-link {
        color: #ffffff;
        font-size: 22px;
    }

    .content-text {
        color: #ffffff;
        font-size: 25px;
        font-family: Montserrat, sans-serif;
        margin-left: 30px;
        margin-bottom: 56px;
    }
    .about-us{
        width: 900px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .about-us-block{
        flex-direction: column;
        justify-content: center;
        width: 290px;
        text-align: center;
        min-height: 163px;
    }
    .about-us-block img {
        margin-bottom: 15px;
    }
    .block-text {
        color: #ffffff;
        font-size: 18px;
        text-align: center;
        font-family: Montserrat, sans-serif;
    }
    .block-img {
        height: 72px;
    }
    .img-location{
        margin: 95px auto;
        border: 2px solid deeppink;
        width: 579px;
        padding: 27px 27px 15px 27px;
        box-sizing: border-box;
    }
    .address{
        color: #ffffff;
        font-size: 22px;
        font-family: Montserrat, sans-serif;
        line-height: 27px;
        text-align: center;
    }
    .contacts {
        max-width: 981px;
        margin: 0 auto;
        padding-bottom: 67px;
    }
    .contacts-title {
        font-size: 45px;
        color: #ffffff;
        margin-bottom: 85px;
    }
    .contacts-block {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .contacts-item {
        text-align: center;
        flex-direction: column;
        max-width: 232px;
    }
    .contacts-img{
        min-height: 45px;
    }
    .contacts-info {
        color: #ffffff;
        font-size: 25px;
        text-align: center;
    }
    .contacts-info-title {
        margin-bottom: 9px;
        margin-top: 35px;
    }
    .contacts-info-text {
        display: block;
        line-height: 1.2;
    }
}
