.header{
    background-size: cover;
    min-height: 100vh;
    background-position: center;
    background-image: url("../../../../shared/components/FilmContent/junglebook2@1X.png");
    padding-bottom: 55px;
}
