.milan-page {
    background-image: url(../img/main-bg.jpg);
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
}
.milan-page::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
}
.clearfix::after {
    clear: both;
    display: table;
    content: "";
}
.container {
    margin: 0 auto;
    width: 1059px;
}
.header {
    padding: 48px 0;
    position: relative;
}
.header-logo {
    text-decoration: none;
}
.header-logo:hover .logo-text {
    color: #f26522;
    /*background-color: #f26522;*/
}
.header-logo:hover .logo-img {
    background-image: url(../img/logo-img-hover.png);
}
.logo-text {
    float: left;
    color: #ffffff;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}
.logo-img {
    float: left;
    background-image: url(../img/logo-img.png);
    margin-right: 15px;
    width: 46px;
    height: 44px;
}
.logo-text-large {
    font-size: 29px;
}
.logo-text-small {
    font-size: 18px;
}
.contact-info {
    float: right;
}
.header-logo {
    display: inline-block;
 }

.phone{
    text-align: right;
    font-size: 18px;
    color: #ffffff;
    font-family: Arial, sans-serif;
}
.email-address {
    font-size: 18px;
    color: #ffffff;
    font-family: Arial , sans-serif;

}
.content-caption {
    float: left;
    width: 307px;
    margin-right: 69px;
    margin-bottom: 51px;
    text-align: center;
    position: relative;
}
.content-caption:nth-child(3n) {
    margin-right: 0;
}
.content-name {
    margin-top: 22px;
}
.content-list-link {
    font-size: 18px;
    text-transform: capitalize;
    text-decoration: none;
    font-family: Arial, sans-serif;
    color: #ffffff;
    transition: 0.4s;
}
.content-list-link:hover {
    color: #f26522;
    transition: 0.4s;
}
.content-desc {
    background-color: #f26522;
    width: 307px;
    box-sizing: border-box;
    height: 0;
    opacity: 0;
    position: absolute;
    bottom: 0;
    text-align: left;
    transition: 0.3s;
    overflow: hidden;
    padding: 16px 17px 16px 21px;
}
.content-caption .content-block {
    position: relative;
    cursor: pointer;
}

.content-caption .content-block:hover .content-desc {
    opacity: 1;
    height: 63px;
    transition: height 0.3s ;
}
.from {
    display: block;
    box-sizing: border-box;
    /*margin: 16px 21px 7px 21px;*/
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 10px;

}
.price{
    box-sizing: border-box;
    /*margin: 0 21px 17px 21px;*/
    float: left;
    font-size: 20px;
    font-family: Arial, sans-serif;
    color: #ffffff;
}
.price::before {
    content: "\20AC";
}
.details {
    box-sizing: border-box;
    float: right;
    /*margin: 0 18px 0 40px;*/
    font-size: 14px;
    color: #ffffff;
    font-family: Arial, sans-serif;
}
.details::after {
    content: "\203A";
    margin-left: 15px;
}
.footer {
    text-align: center;
    position: relative;
}
.footer-text {
    font-size: 12px;
    font-family: Arial ,sans-serif;
    color: #ffffff;
    padding-bottom: 20px;
}
.footer-text::before {
    content: "\00A9";
    margin-right: 5px;
}