.film-content{
    padding-top: 500px;
}
.content-title{
    color: #fff;
}
.genre-list{
    color: #fff;
    display: flex;
    list-style-type: none;
    padding: 0;
}

.genre-item:last-child::after{
    content: "|";
    margin: 0 10px;
    color: white;
}

.genre-item{
    margin-left: 5px;
}
.stars{
    color: #0AAEE4;
}
.star-item{
    margin-left: 5px;
}
.rating{
    margin-left: 5px;
}
.header-footer{
    display: flex;
    justify-content: space-between;
}