.bg-img {
    background-image: url(../img/bg-img.png);
    background-size: cover;
    height: 100vh;
    width: 100%;
    font-family: "Montserrat", sans-serif;
}
.clearfix::after {
    clear: both;
    content: "";
    display: table;
}
.clearfix {
    clear: both;
}
.container {
    width: 1210px;
    margin: 0 auto;
}
/*HEADER*/
.header {
    background-color: rgba(0,0,0,0.4);
    padding: 20px 0;

}
.header-name{
    float: left;
}
.header-logo {
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    transition: 0.4s;
}
.header-logo:hover {
    color: #3cb878;
    transition: 0.4s;
}
.icon {
    float: right;
    background-image: url("../img/css_sprites.png");
    margin-right: 28px;
}
.icon:hover {
    background-image: url("../img/css_sprites-green.png");
}
.ic-calendar {
    background-position: -50px -50px;
    width: 19px;
    height: 19px;
}
.ic-forum {
    background-position: -10px -10px;
    width: 28px;
    height: 20px;
}
.ic-journey {
    background-position: -10px -50px;
    width: 20px;
    height: 20px;
}
.ic-calendar:hover {
    width: 19px;
    height: 19px;
    background-position:-10px -50px;
}
.ic-journey:hover {
    width: 20px;
    height: 20px;
    background-position:-58px -10px;
}
.header-register::before{
    content: "";
    height: 19px;
    border-right: 1px solid #31302e;
    margin-right: 25px;

}

.header-register {
    float: right;
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
    margin-top: 5px;
    transition: 0.4s;
}
.register-link {
    text-decoration: none;
    color: #3cb878;
}
.register-link:hover {
    border-bottom: 1px solid #3cb878;
    transition: 0.4s;
}
/*FORM*/
.form {
    position: absolute;
    top: calc(50% + 30px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 444px;
    height: 584px;
    background-color: #fff;
    padding: 30px 60px;
    box-sizing: border-box;
    border-radius: 2%;
}
.title-form {
    margin-bottom: 16px;
}
.register {
    position: relative;
    float: left;
    font-size: 20px;
    color: #505050;
}
.register::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #3cb878;
    top: 0;
    left: -60px;
}
.log-in {
    float: right;
}
.green-link {
   font-size: 14px;
    color: #3cb878;
    text-decoration: none;
}
.green-link:hover {
    border-bottom: 1px solid #3cb878;
}
.btn-logo {
    font-size: 20px;
    color: #ffffff;
    font-weight: 700;
}
.btn-title {
    font-size: 16px;
    color: #ffffff;
    font-weight: 400;
    padding-left: 18px;
}
.facebook-btn {
    float: left;
    margin-right: 4px;
    background-color: #305db8;
    border-radius: 3%;
    border: none;
    box-sizing: border-box;
    width: 157px;
    height: 46px;
}
.fa-facebook-f::before {
    content: "\f39e";
}
.fa-facebook-f::after {
        content: "";
        border-right: 1px solid #2b54a5;
        height: 28px;
        padding-left: 17px;
}
.facebook-btn:hover {
    background-color: #264b96;
}
.facebook-btn:focus{
    outline: none;
}
.google-btn {
    float: right;
    vertical-align: top;
    background-color: #df4a32;
    width: 157px;
    height: 46px;
    border-radius: 3%;
    border: none;
    box-sizing: border-box;
    text-align: left;
    padding-left: 13px;
}
.fa-google-plus-g::before {
    content: "\f0d5";
}
.fa-google-plus-g::after {
    content: "";
    border-right: 1px solid #c8422d;
    height: 28px;
    padding-left: 9px;
}
.google-btn:hover{
    background-color: #c3412c;
}
.google-btn:focus{
    outline: none;
}
.line-or {
    margin-top: 33px;
    margin-bottom: 18px;
    text-align: center;
    position: relative;
}
.divider::before {
    content: "";
    display: block;
    position: absolute;
    top: 55%;
    width: 135px;
    height: 1px;
    margin-right: 18px;
    background-color: #eaeaea;
}
.divider::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 54%;
    width: 135px;
    height: 1px;
    margin-left: 18px;
    background-color: #eaeaea;
}
.form-input {
    width: 322px;
    height: 46px;
    padding: 18px 19px;
    box-sizing: border-box;
    margin-bottom: 9px;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    outline: none;
}
.form-input:focus {
    box-shadow: 2px 2px 5px 2px #d6d6d6;
    color: #434343;
    border-radius: 3px;
    outline: none;

}
.form-input:nth-child(5){
    margin-bottom: 0;
}
.agreement {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    padding-top: 5px;
    font-size: 14px;
    font-weight: 600;
    color: #434343;
    margin-top: 22px;
    margin-bottom: 28px;
}
.agreement input {
    opacity: 0;
    height: 0;
    width: 0;
}
.agreement-indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #ffffff;
    border: 1px solid rgba(0, 0,0 ,0.1);
}
.agreement-indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.agreement input:checked ~ .agreement-indicator:after {
    display: block;
}
.agreement-checkbox .agreement-indicator:after {
    left: 7px;
    top: 4px;
    width: 4px;
    height: 8px;
    border: solid #41ba7b;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.account {
    display: block;
    border: none;
    background-color: #3cb878;
    width: 322px;
    height: 46px;
    padding: 17px 0;
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    box-sizing: border-box;
}
.account:hover {
    background-color: #329a65;
}






