.container {
    width: 1280px;
    margin: 0 auto;
}

.header {
    padding-top: 61px;
    padding-bottom: 45px;
}
.company-title-link {
    color: #000000;
    font-family: Arial, sans-serif;
    font-size: 80px;
    cursor: pointer;

}
.text-colored {
    color: #4bcaff;
    text-decoration: none;
}
.navbar {
    background-color: #35444f;
    margin-bottom: 51px;

}
.navbar-nav {
    text-align: center;
}
.navbar-nav-item {
    /*padding: 23px 41px;*/
    display: inline-block;
    padding-top: 26px;
    padding-bottom: 21px;
}
.navbar-nav-link:hover{
    background-color: #222f3a;
    transition: 0.5s;
}
.navbar-nav-link {
    text-decoration: none;
    font-size: 24px;
    font-family: Arial, sans-serif;
    color: #ffffff;
    padding: 24px 41px 19px 41px;
}
.section-left-menu {
    border: 1px solid gray;
    width: 344px;
    display: inline-block;
    margin-right: 45px;
}
.section-list {
}
.list-item {
    padding: 30px 44px;
}
.list-link {
    text-decoration: none;
    color: #495863;
    font-size: 30px;
}

.list-item:hover {
    background-color: #dbdbdb;
    color: #000000;
    padding-left: 65px;
    transition: 0.7s;
}

.section-right-image {
    border: 1px solid gray;
    display: inline-block;
    margin-bottom: 50px;
    vertical-align: top;
    width: 885px;
    padding: 74px;
    text-align: center;
    box-sizing: border-box;
}
.lucifer-img:hover {
    transform: scale(1.2);
    transition: 0.5s;
}
.main-content {
    margin-left: 420px;
    margin-right: 40px;
    display: inline-block;
    text-align: justify;
}

.text-content {
    margin-bottom: 30px;
    font-size: 18px;
    font-family: Arial , sans-serif;
}
.footer {
    background-color: #b4b7ba;
    margin-bottom: 51px;
    box-sizing: border-box;

}
.footer-box {
    display: inline-block;
    text-align: center;

}
.footer-item{
    display: inline-block;
    padding: 21px 0;
}
.footer-link:hover {
    color: #3181a6;
    border-bottom: 1px solid #3181a6;
    padding-bottom: 2px;
    transition: 0.4s;

}
.footer-link {
    font-size: 24px;
    color: #0c1927;
    font-family: Arial, sans-serif;
    text-decoration: none;
    margin: 21px 0 21px 34px;
}

.footer-copyright {
    font-size: 24px;
    padding: 21px 34px 21px 204px;
    font-family: Arial, sans-serif;
}


