.element {
    border: 1px solid;
    width: 40px;
    height: 20px;
    background: white;
}
.container {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    border: 1px solid black ;
    box-sizing: border-box;
}
.table {
    margin: 0 auto;
}
#btnPlay {
    width: 100px;
    height: 50px;
    margin: 50px;
}

#difficult{
    margin: 50px;
    width: 50px;
    height: 20px;
}
.blue {
    background-color: blue;
}
.green {
    background-color: green;
}
.red{
    background-color: red;
}

