.movie-img{
    width: 270px;
    height: 230px;
}
.movie-info {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-left: 22px;
}
.movie-name{
    text-transform: uppercase;
    margin: 0;
}
.movie-card-item{
    text-decoration: none;
    color: #47C3F0;
    font-size: 18px;
}
.movie-rating{
    color: #47C3F0;
    border: 1px solid #47C3F0;
    border-radius: 5px;
    padding: 0 7px;
    margin-right: 22px;
}
.movie-category{
    color: #47C3F0;
    text-decoration: none;
   padding: 5px 5px 5px 0;
}
.movie{
    margin-top: 10px;
    padding-bottom: 20px;
    margin-left: 22px;
}
.movie-card{
    background-color: #fff;
    text-decoration: none;
    max-height: 600px;
    margin-bottom: 30px;
}
.main-container{
    background-color: #F5F6F6;
}