.logo{
    width: 121px;
    font-size: 26px;
    margin-top: 24px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
}
.text-bold{
    font-weight: bold;
}
.text-colored{
    color:#0AAEE4;
}
.text-white{
    color: #ffffff;
}