.footer-menu{
    display: flex;
    text-align: left;
    padding: 0;
    /*justify-content: flex-start;*/
}
.footer-menu-item{
    list-style: none;
    margin-right: 10px;
    font-size: 17px;
}
.footer-menu-link{
    text-decoration: none;
    color: #242B2D;

}